{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    <title>About</title>
</head>
<body>
  <main>
    <div class="left-container container">
      <p>Paul is a musician and songwriter from Long Beach, California who has been carrying on his family's musical tradition for the past 20 years. He has performed with various bands and has gained recognition as a solo act in the Long Beach area. His Latin-American Songwriter Experience has captured the attention of audiences in many cities across the US. Paul also plays bass and provides backup vocals in a soul band called Intuitions.</p>
      <p>To stay updated on Paul's upcoming shows and new album releases, follow him on his social media accounts by searching @picksalot. You can also listen to his latest release, "You," on all music streaming platforms. If you're interested in booking him for a performance, please use the contact information provided at the bottom of each page.</p>
    </div>
    <div class="right-container container">
      <h1>Hi, I'm Paul</h1>
      <img src="{% static 'base/images/paul-about.png' %}">
    </div>
  </main>
</body>
</html>