{% load static %}

<!DOCTYPE>

<html>
  <head>
    <link rel="stylesheet" href="{% static 'base/contact.css' %}">
  </head>
  <body>

    <div class="container">
      <h1 id="main-title">Contact</h1>

      <form method='POST' action='.'>
        {% csrf_token %}

          <div class="form-group">
            {{ form.name }}
          </div>
          <div class="form-group">
            {{ form.email }}
          </div>
          <div class="form-group">
            {{ form.content }}
          </div>

        <button class='btn'>Submit</button>
      </form>
    </div>
    
    {% comment %} <script src="{% static 'base/scripts/contact.js' %}"></script> {% endcomment %}
  </body>
</html>