{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'base/style.css' %}">
    <title>Paul Anthony Garcia</title>
</head>
<body class="body">

      <header class="header">
        <div class="overlay">
          <div class="header-container">
                <h1 class="logo">PAUL ANTHONY GARCIA</h1>
                
                <a href="{% url 'base:contact' %}" class="btn btn-primary">CONTACT ME</a>
          </div>
        </div>
      </header>

      <main class="main">
        <div class="main-container">
          {% comment %} <h3>MY VENMO AND CASH-APP</h3> {% endcomment %}
          {% comment %} <div class="tip-container container">
            <a href="https://account.venmo.com/u/Picksalot"><i class="fa-brands fa-square-vimeo fa-4x"></i></a>
            <a href="https://cash.app/$Picksalot" class="cash-app"><img src="{%static 'base/images/cashapp.svg' %}"></a>
          </div> {% endcomment %}
          <h2>NEW ALBUM "YOU"</h2>
          <a href="https://open.spotify.com/artist/1SxbAufa9tba1kQaAsMqqK">
            <img src="{% static 'base/images/album.png' %}" alt="album 'You'">
          </a>
          <a href="https://open.spotify.com/artist/1SxbAufa9tba1kQaAsMqqK" class="btn btn-primary">LISTEN</a>
        </div>
      </main>

      <footer class="footer">
        <div class="footer-container">
          <hr class="top-line">
          <a href="https://linktr.ee/Picksalot">
            <h3>FOLLOW</h3>
          </a>
          <hr class="bottom-line">
          <div class="icons">
            <a href="https://www.instagram.com/picksalot/">
              <i class="fa-brands fa-instagram fa-2x"></i>
            </a>
            <a href="https://www.reddit.com/user/picslotoguitar">
              <i class="fa-brands fa-reddit fa-2x"></i>
            </a>
            <a href="https://www.youtube.com/@PaulPicksalot">
              <i class="fa-brands fa-youtube fa-2x"></i>
            </a>
            <a href="https://open.spotify.com/artist/1SxbAufa9tba1kQaAsMqqK">
              <i class="fa-brands fa-spotify fa-2x"></i>
            </a>
            <a href="https://www.tiktok.com/@picksalot">
              <i class="fa-brands fa-tiktok fa-2x"></i>
            </a>
          </div>
        </div>
      </footer>
</body>
</html>